<mat-card>
    <form (submit)="onSubmitProfile(profileForm)" #profileForm="ngForm">
        <mat-form-field>
            <input
                matInput
                name="firstName"
                ngModel
                type="text"
                placeholder="First Name"
                required
            />
        </mat-form-field>
        <mat-form-field>
            <input
                matInput
                name="lastName"
                ngModel
                type="text"
                placeholder="Last Name"
                required
            />
        </mat-form-field>
        <mat-form-field>
            <input
                matInput
                name="birthdate"
                ngModel
                type="date"
                placeholder="Birthdate"
            />
        </mat-form-field>
        <mat-form-field>
            <input
                matInput
                name="highSchool"
                ngModel
                type="text"
                placeholder="High School"
            />
        </mat-form-field>
        <mat-form-field>
            <input
                matInput
                name="city"
                ngModel
                type="text"
                placeholder="City"
            />
        </mat-form-field>
        <mat-form-field>
            <input
                matInput
                name="state"
                ngModel
                type="text"
                placeholder="State"
            />
        </mat-form-field>
        <mat-form-field>
            <input
                matInput
                name="country"
                ngModel
                type="text"
                placeholder="Country"
            />
        </mat-form-field>
        <button mat-raised-button color="accent" type="submit">
            Create
        </button>
    </form>
</mat-card>
