<mat-card>
    <mat-card-title>
        Soccer Stats
    </mat-card-title>
    <mat-card-content>
        <div class="stat-display-div" *ngFor="let f of fakeData">
            <!--suppress TypeScriptUnresolvedVariable -->
            <app-stat-display [statTitle]="f.title" [statValue]="f.value">
            </app-stat-display>
        </div>
    </mat-card-content>
</mat-card>

<mat-card>
    <mat-card-title>
        Academic Stats
    </mat-card-title>
    <mat-card-content>
        <div class="stat-display-div" *ngFor="let f of fakeAcademicData">
            <!--suppress TypeScriptUnresolvedVariable -->
            <app-stat-display [statTitle]="f.title" [statValue]="f.value">
            </app-stat-display>
        </div>
    </mat-card-content>
</mat-card>
