<mat-card>
    <div class="player-image">
        <!--suppress HtmlUnknownTarget -->
        <img src="assets/example.jpg" alt="">
    </div>
    <div class="player-info">
        <h1 >
            Timmy
        </h1>
        <h3>
            Idaho City, ID
        </h3>
        <br>
        <p>
            School
        </p>
        <h3>
            The Harker School
        </h3>
        <h4>
            Class of 2025
        </h4>

        <br>

        <p>
            Club
        </p>
        <h3>
            De Anza Force Soccer Club
        </h3>
    </div>
</mat-card>
