<div *ngIf="headerData">
    <mat-card>
        <div class="player-image">
            <!--suppress HtmlUnknownTarget -->
            <img src="assets/example.jpg" alt="" />
        </div>
        <div class="player-info">
            <h1>
                {{ headerData.name }}
            </h1>
            <h3>
                {{ headerData.city }}, {{ headerData.state }},
                {{ headerData.country }}
            </h3>
            <br />

            <p>
                Birthday
            </p>
            <h3>
                {{ headerData.birthdate }}
            </h3>

            <br />

            <p>
                School
            </p>
            <h3>
                {{ headerData.high_school }}
            </h3>

            <br />
        </div>
    </mat-card>
</div>
