*|* {
    display: block;
    margin: calc(1rem / 2) auto;
}

app-profile-header, app-profile-stats-pane {
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-name: pane-enter;
}

@keyframes pane-enter {
    0% {
       transform: translateY(-50vh);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

