<mat-card>
    <form [formGroup]="form" (submit)="onSubmitProfile()" ]>
        <mat-form-field>
            <input
                matInput
                type="text"
                formControlName="firstName"
                placeholder="First Name"
            />
        </mat-form-field>
        <mat-form-field>
            <input
                matInput
                type="text"
                formControlName="lastName"
                placeholder="Last Name"
            />
        </mat-form-field>
        <mat-form-field>
            <input
                matInput
                [matDatepicker]="birthdate"
                placeholder="Birthdate"
            />
            <mat-datepicker-toggle
                matSuffix
                [for]="birthdate"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
            <input
                matInput
                type="text"
                formControlName="highSchool"
                placeholder="High School"
            />
        </mat-form-field>
        <mat-form-field>
            <input
                matInput
                type="text"
                formControlName="highSchool"
                placeholder="High School"
            />
        </mat-form-field>
        <mat-form-field>
            <input
                matInput
                type="text"
                formControlName="city"
                placeholder="City"
            />
        </mat-form-field>
        <mat-form-field>
            <input
                matInput
                type="text"
                formControlName="state"
                placeholder="State"
            />
        </mat-form-field>
        <mat-form-field>
            <input
                matInput
                type="text"
                formControlName="country"
                placeholder="Country"
            />
        </mat-form-field>
        <!-- <div>
      <button
          mat-stroked-button
          type="button"
          (click)="filePicker.click()"
      >
          Pick Profile Picture
      </button>
      <input type="file" #filePicker (change)="onImagePicked($event)" />
  </div>
  <div
      class="image-preview"
      *ngIf="
          imagePreview !== '' && imagePreview && form.get('image').valid
      "
  >
      <img [src]="imagePreview" [alt]="form.value.title" />
  </div> -->
    </form>
</mat-card>
